{% extends 'base.html' %}

{% block pagecontent %}
<!-- MAIN SECTION -->                  
<section id="home-section" class="line">
   <div class="margin">
      <!-- ARTICLES -->             
      <div class="s-12 l-9">

         <!-- ARTICLE 5 -->              
         <!-- text -->

         {% if quotes %}

         {% for quote in quotes %}  
         <article class="post-4 line" >
            <div class="s-12 l-12 post-text">                   
               <a href="/author/{{ quote.author.name }}" >
                  <h3 style="color: #77d1e0;">{{ quote.author.name }}</h3>
               </a>
               <p style="float: right;">{{ quote.submitedon }}</p>
               {% if quote.user.is_staff %}   
                     <p>Admin</p>
                  {% else %}
                     <p>{{ quote.user.username }}</p>
                     
                  {%endif%}
               <h3 id="quotes_{{quote.id}}">
                  <a style="color: white;text-align: justify;" href="/quotes/search/?id={{quote.id}}">"{{ quote.quotes}}"</a>
               </h3> 
               <div class="social">
                  <a onclick="updatedata('shareFacebook_{{quote.id}}')">
                     <img style="height: 30px;width: 30px;cursor: pointer;" src="/static/img/icon/facebook-logo.png" />
                  </a> 

                  <a onclick="updatedata('shareInstagram_{{quote.id}}')">
                     <img style="height: 30px;width: 30px;cursor: pointer;" src="/static/img/icon/instagram.png" />
                  </a> 

                  <a onclick="updatedata('shareWhatsapp_{{quote.id}}')">
                     <img  style="height: 30px;width: 30px;cursor: pointer;" src="/static/img/icon/whatsapp-logo.png" />
                  </a> 


                  <button id="copyquotes_{{quote.id}}" onclick="updatedata('copyquotes_{{quote.id}}')" class="right" style="background:rgba(0,0,0,0.5);color: white;border: 2px solid #e7e7e7;height: 30px;cursor: copy;">copy-text</button>
               </div>
                  <p>{{ quote.category.name }}</p>
                              
            </div>    
          
               </article>

            </br>

            {% endfor %}
            <div class="line">
                  <div class="advertising horizontal">
                     <img src="/static/img/banner-horizontal.jpg" alt="ad banner">          
                  </div>
               </div>
            {% endif %}
         </div>
      
{% endblock %}